doctype html
html
    head
    body
        form(action='../api/changeProfileImage',method="post",required="true", enctype="multipart/form-data")
            label(for="file") Image File
            input(type="file", id="avatar", name="avatar", required=true, accept="image/*")
            input(type="submit",value="Upload Image")